# Google OAuth 2.0 (Obtener en Google Cloud Console - https://console.cloud.google.com/apis/credentials)
VITE_GOOGLE_CLIENT_ID=tu_cliente_id_aqui.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_SECRET=tu_secreto_cliente_aqui

